@import './base.css';

#app {
  width: 100%;
  height: 100%;
  margin: 0 auto;

  font-weight: normal;
}

html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
}

button {
  outline: none;
  border: none;
}
a,
.green,
li {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 0.2s;
  border-bottom: 2px solid transparent;
}

@media (hover: hover) {
  li:hover {
    color: rgb(222, 222, 222);
    border-bottom: 2px solid white;
  }
}
